{% extends "base.html" %}
{% block title %}
    ListPage
{% endblock title %}

{% block content %}

<h2 align="center">Cart Info</h2><br>
<table class="table">
    <thead>
        <tr>
            <td scope="col">Name</td>
            <td scope="col">Img</td>
            <td scope="col">Desc</td>
            <td scope="col">Qty</td>
            <td scope="col">Price</td>
            <td scope="col">Delete</td>
        </tr>
    </thead>
    <tbody>
        {% for good in cart_goods_list %}
        <tr>
            <td><a href="{% url 'goods:goods_detail'%}?id={{good.id}}">{{good.goods_name}}</a></td>
            <td><a href="{% url 'goods:goods_detail'%}?id={{good.id}}">
                <img src="/static/images/{{good.goods_img}}.jpg" alt="not exist"></a></td>
            <td>{{good.goods_desc}}</td>
            <td>{{good.num}}</td>
            <td>￥{{good.goods_price}}</td>
            <td><a href="{% url 'cart:remove_cart'%}?id={{good.id}}">delete</a></td>
        </tr>
        {%endfor%}
    </tbody>
</table>
<div align="right">
    <h5>Total Count: {{cart_goods_count}}</h5>
    <h5>Total Price:  ￥{{cart_goods_money }}</h5>
    <h3><a href="{% url 'cart:place_order' %}">Submit</a></h3>
</div>
{% endblock content %}