<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <a href="{% url 'cart:show_cart'%}"> 购物车</a>
    {% for cag in categories %}
        <p>
            <a href="{% url 'goods:goods_list'%}?cag={{cag.id}}&page=1">{{cag.cag_name}}</a>
            {{cag.cag_css}}
            {{cag.cag_img}}
            {% for goods in cag.goods_list %}
                <li>
                <a href="{% url 'goods:goods_detail'%}?id={{goods.id}}">{{goods.goods_name}}</a>
                {{goods.goods_price}}
                {{goods.goods_desc}}
                <br>
                <img src="/static/images/{{goods.goods_img}}.jpg" alt="not exist">
                </li>
            {% endfor %}
        </p>
    {% endfor %}
</div>
<div>
    total:{{cart_goods_count}}
    {% for cart_good in cart_goods_list %}
    <li>{{cart_good.goods_name}}:{{cart_good.goods_num}}</li>
    {% endfor %}
</div>
</body>
</html>